* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #777;
  font-size: 1rem;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "sans-serif";
}
.link {
  color: #077e86;
  text-decoration: underline;
}
.link:hover {
  color: #92d7e9;
  text-decoration: none;
}
.link:focus{
  color: #92d7e9;
}
#__layout {
  display: flex;
  justify-content: center;
}
.list {
  list-style-type: none;
  margin-top: 1rem;
}
.content {
  min-height: 30vh;
}
.content__title {
  margin-bottom: 1rem;
}
.content__text {
  line-height: 1.6;
}
